<%- include("header") %>


    
    <div class="box" id="heading">
<h1><%= list_title %></h1>
    </div>

<div class="box">

        <% next.forEach(element => { %>
           <form action="/delete" method="post">
             <div class="item">
                <input type="checkbox" name="checkbox_name" onchange="this.form.submit()" value=" <%= element._id %>">
                <p> <%= element.name %> </p>
             </div>
             <input type="hidden" name="hidden_input_name" value="<%= list_title %>">
           </form>
        <% }); %>
    
 

   <form class="item form_2" action="/" method="post">
    
    <input type="text" placeholder="New Item" autocomplete="off" name="next_to_do" id="input to-do">
    <button type="submit" name="add_button_name" value="<%= list_title %>">+</button>
    </form>
</div>




<%- include("footer") %>

